<div class="review-list-container">
    @for(review of reviews; track review.id) {
        <div class="user-review-card">
            <div class="user-review-header">
                <img class="profile-picture"
                    [src]="review.user?.profilePicture"
                    alt="User profile">
                <div>
                    <p class="user-review-name">
                        {{ user[0].name }}
                    </p>
                    <p class="user-review-rating">⭐ <strong>{{ review.rating.toFixed(1) }}</strong></p>
                </div>
            </div>
            <p class="user-review-text">{{ review.text }}</p>
        </div>
    } @empty {
        <p class="no-reviews">No reviews available</p>
    }
</div>
