/* Contenedor principal del carrusel */
.slider-container {
  position: absolute; /* Cambiado de relative a absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenedor */
  background-color: #ffffff; 
  padding: 20px;
  border: 1px solid #cfcfcf88; 
  width: 100%;
  max-width: 1200px; /* Ancho máximo del carrusel */
  overflow: hidden; /* Oculta contenido fuera del carrusel */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra para resaltar */
}


/* Contenedor de las imágenes */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Espaciado entre las imágenes */
}

/* Imágenes */
img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

/* Botones de navegación */
.slider-button {
  position: absolute; /* Para posicionar los botones fuera del flujo */
  top: 50%; /* Centrado vertical */
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: #999999b0;
  border: 1px solid #cfcfcf88; 
  padding: 10px;
  font-size: 48px;
  cursor: pointer;
  border-radius: 5%;
  z-index: 10;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 3px #888;
}

/* Oscurecer el fondo al pasar el ratón */
.slider-button:hover {
  color: rgba(104, 104, 104, 0.918); /* Color del texto al pasar el ratón */ 
}

/* Botón izquierdo */
.slider-button.prev {
  left: 10px; /* Posición del botón izquierdo */
}

/* Botón Derecho */
.slider-button.next {
  right: 10px; /* Posición del botón derecho */
}
