<div class="slider-container">
  <!-- Botón para ir atrás -->
  <button class="slider-button prev" (click)="prevSlide()">&#8249;</button>

  <div
    class="slider"
    (mousedown)="onDragStart($event)"
    (mousemove)="onDragMove($event)"
    (mouseup)="onDragEnd()"
    (mouseleave)="onDragEnd()"
  >
    <!-- Contenedor de imágenes -->
    <div class="image-container">
      <!-- Foto dos posiciones atrás -->
      @if (imagenAnteriorSecundaria) {
        <img [src]="imagenAnteriorSecundaria.src" class="slider-image slider-image-secondary" />
      }

      <!-- Foto izquierda -->
      @if (imagenAnteriorPrimaria) {
        <img [src]="imagenAnteriorPrimaria.src" class="slider-image slider-image-primary" />
      }

      <!-- Foto actual -->
      @if (imagenPrincipal) {
        <img [src]="imagenPrincipal.src" class="slider-image slider-image-current" />
      }

      <!-- Foto derecha -->
      @if (imagenSiguientePrimaria) {
        <img [src]="imagenSiguientePrimaria.src" class="slider-image slider-image-primary" />
      }

      <!-- Foto dos posiciones adelante -->
      @if (imagenSiguienteSecundaria) {
        <img [src]="imagenSiguienteSecundaria.src" class="slider-image slider-image-secondary" />
      }
    </div>
  </div>

  <!-- Botón para ir adelante -->
  <button class="slider-button next" (click)="nextSlide()">&#8250;</button>
</div>