<div class="product-delivery-container">
    <div class="product-delivery-header">
        <h1>Entrega en 4 - 8 días</h1>
        <button (click)="toggleInfo()">+ info</button>
    </div>
    <div class="product-delivery-options">
        <div class="product-delivery-option">
            <img src="https://prod-delivery-resources.wallapop.com/default_office_v2.png" alt="Recogida">
            <p>En punto de recogida <span>desde 2.59 EUR</span></p>
        </div>
        <div class="product-delivery-option">
            <img src="https://prod-delivery-resources.wallapop.com/default_home_v2.png" alt="Entrega a domicilio">
            <p>En mi dirección <span>desde 3.49 EUR</span></p>
        </div>
    </div>
</div>

<!-- Modal -->
@if (isInfoVisible) {
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Entrega en 3 - 7 días</h2>
                <button class="close-button" (click)="toggleInfo()">×</button>
            </div>
            <div class="modal-body">
                <p>Calculamos la fecha de entrega teniendo en cuenta que:</p>
                <ul>
                    <li>
                        El tiempo que tiene el vendedor para entregar el paquete a la empresa de transporte 
                        (<b>de 1 a 5 días</b>).
                    </li>
                    <li>
                        Una vez que tengan el paquete, el <b>plazo de entrega</b> dependerá de la empresa de transporte seleccionada.
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
