<div class="product-delivery-container">
    <div class="product-delivery-header">
        <h1>{{ 'PRODUCT-DELIVERY.HEADER' | translate }}</h1>
        <button (click)="toggleInfo()">{{ 'PRODUCT-DELIVERY.INFO-BUTTON' | translate }}</button>
    </div>
    <div class="product-delivery-options">
        <div class="product-delivery-option">
            <img src="https://prod-delivery-resources.wallapop.com/default_office_v2.png" alt="Recogida">
            <p>{{ 'PRODUCT-DELIVERY.PICKUP-OPTION' | translate }} <span>{{ 'PRODUCT-DELIVERY.PICKUP-PRICE' | translate }}</span></p>
        </div>
        <div class="product-delivery-option">
            <img src="https://prod-delivery-resources.wallapop.com/default_home_v2.png" alt="Entrega a domicilio">
            <p>{{ 'PRODUCT-DELIVERY.HOME-DELIVERY-OPTION' | translate }} <span>{{ 'PRODUCT-DELIVERY.HOME-DELIVERY-PRICE' | translate }}</span></p>
        </div>
    </div>
</div>

<!-- Modal -->
@if (isInfoVisible) {
    <div class="modal-overlay" (click)="closeModal($event)">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <div class="modal-header">
                <h2>{{ 'PRODUCT-DELIVERY.HEADER' | translate }}</h2>
                <button class="close-button" (click)="toggleInfo()">×</button>
            </div>
            <div class="modal-body">
                <p>{{ 'PRODUCT-DELIVERY.MODAL-DESCRIPTION' | translate }}</p>
                <ul>
                    <li>
                        {{ 'PRODUCT-DELIVERY.MODAL-POINT-1' | translate }}
                        <b>{{ 'PRODUCT-DELIVERY.MODAL-POINT-1.1' | translate }}</b>
                        {{ 'PRODUCT-DELIVERY.MODAL-POINT-1.2' | translate }}
                    </li>
                    <li>
                        {{ 'PRODUCT-DELIVERY.MODAL-POINT-2' | translate }}
                        <b>{{ 'PRODUCT-DELIVERY.MODAL-POINT-2.1' | translate }}</b>
                        {{ 'PRODUCT-DELIVERY.MODAL-POINT-2.2' | translate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
