<nav class="nav-categories">
  <ul>
    <li>
      <span>
        <a href="#" (click)="toggleSidenav($event)">☰ {{ 'NAV-CATEGORIES.ALL_CATEGORIES' | translate }}</a>
      </span>
    </li>
    @for (category of mainCategories; track category.id) {
      <li>
        <a [routerLink]="['/category-product', category.id]">{{ category.nombre }}</a>
      </li>
    }
  </ul>
</nav>

<!-- Sidenav que se abrirá -->
<div class="side-menu" [class.open]="isSidenavOpen">
  <div class="side-menu-header">
    <h3>{{ 'NAV-CATEGORIES.ALL_CATEGORIES' | translate }}</h3>
    <button class="close-btn" (click)="toggleSidenav($event)">X</button>
  </div>
  <ul>
    @for (category of allCategories; track category.id) {
      <li>
        <img [src]="category.imagen" alt="{{ category.nombre }}" class="category-image" />
        <a [routerLink]="['/category-product', category.id]">{{ category.nombre }}</a>
      </li>
    }
  </ul>
</div>

<!-- Oscurece el fondo cuando se abre el menú -->
<div class="overlay" [class.show]="isSidenavOpen" (click)="toggleSidenav($event)"></div>