<div class="container reset-container">
  <h1>{{ 'RESET_PASSWORD.TITLE' | translate }}</h1>
  <p>{{ 'RESET_PASSWORD.DESCRIPTION' | translate }}</p>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!-- Campo de nueva contraseña -->
    <div class="form-group">
      <label for="newPassword">{{ 'RESET_PASSWORD.NEW_PASSWORD' | translate }}</label>
      <input type="password" id="newPassword" formControlName="newPassword" aria-required="true">
      @if (resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched) {
        <small class="error-message">{{ 'RESET_PASSWORD.PASSWORD_ERROR' | translate }}</small>
      }
    </div>

    <!-- Campo de confirmar contraseña -->
    <div class="form-group">
      <label for="confirmPassword">{{ 'RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" aria-required="true">
      @if (resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched) {
        <small class="error-message">{{ 'RESET_PASSWORD.PASSWORD_MISMATCH' | translate }}</small>
      }
    </div>

    <!-- Mensajes -->
    @if (errorMessage) {
      <small class="error-message">{{ errorMessage }}</small>
    }
    @if (successMessage) {
      <small class="success-message">{{ successMessage }}</small>
    }

    <button type="submit" class="action-button reset-button" [disabled]="resetForm.invalid">
      {{ 'RESET_PASSWORD.BUTTON' | translate }}
    </button>
  </form>
</div>