<div class="container forgot-container">
  <h1>{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h1>
  <p>{{ 'FORGOT_PASSWORD.DESCRIPTION' | translate }}</p>

  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <!-- Campo de correo electrónico -->
    <div class="form-group">
      <label for="email">{{ 'FORGOT_PASSWORD.EMAIL' | translate }}</label>
      <input type="email" id="email" formControlName="email" aria-required="true">
      @if (forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched) {
        <small class="error-message">{{ 'FORGOT_PASSWORD.EMAIL_ERROR' | translate }}</small>
      }
    </div>
<!-- Campo de prueba de seguridad -->
<div class="form-group">
  <label for="securityAnswer">{{ 'FORGOT_PASSWORD.SECURITY_QUESTION' | translate }}</label>
  <input type="text" id="securityAnswer" formControlName="securityAnswer" aria-required="true">
  @if (forgotForm.get('securityAnswer')?.invalid && forgotForm.get('securityAnswer')?.touched) {
    <small class="error-message">{{ 'FORGOT_PASSWORD.SECURITY_ANSWER_ERROR' | translate }}</small>
  }
</div>

    <!-- Mensajes -->
    @if (errorMessage) {
      <small class="error-message">{{ errorMessage }}</small>
    }
    @if (successMessage) {
      <small class="success-message">{{ successMessage }}</small>
    }

    <button type="submit" class="action-button forgot-button" [disabled]="forgotForm.invalid">
      {{ 'FORGOT_PASSWORD.BUTTON' | translate }}
    </button>
  </form>
</div>