<div class="slider-container-wrapper">
  <button class="slider-button prev" (click)="scrollSlider(-1)">&#8249;</button>

  <div class="slider-container" #sliderContainer>
    <div class="slider">
      @for (image of images; track image.id) {
        <img [src]="image.src" class="slider-image" alt="carousel image" />
      } @empty {
        <p class="empty-message">No images to display.</p>
      }
    </div>
  </div>

  <button class="slider-button next" (click)="scrollSlider(1)">&#8250;</button>
</div>
