/* Navigation Belt & Categories */
app-nav-belt, app-nav-categories {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

app-nav-belt {
    top: 0;
    height: 60px; /* Adjust height as needed */
}

app-nav-categories {
    top: 77px;
    z-index: 800;
}

app-shopping-box {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 40px auto;
    padding: 20px;
    top: -40px;
    font-family: Arial;
    position: relative;
    bottom: 100px;
    
}
