<app-nav-belt></app-nav-belt>
<app-nav-categories></app-nav-categories>

<div class="app-wrapper">
    <div class="vertical-container">
        <app-product-user-bar></app-product-user-bar>
        <app-product-carousel></app-product-carousel>
        <app-product-description></app-product-description>
        <hr class="hr">
        <app-product-delivery></app-product-delivery>
        <hr class="hr">
        <app-product-refund></app-product-refund>
        <hr class="hr">
        <div class="location">
            <app-product-location></app-product-location>
        </div>
    </div>
</div>

<app-product-footer></app-product-footer>
