<div class="login-container">
  <h1>{{ 'LOGIN.TITLE' | translate }}</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" aria-labelledby="login-title">

    <!-- Email -->
    <div class="form-group">
      <label for="email">{{ 'LOGIN.EMAIL' | translate }}</label>
      <input type="email" id="email" formControlName="email" aria-required="true" aria-describedby="emailError">
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <small id="emailError" role="alert">{{ 'LOGIN.EMAIL_ERROR' | translate }}</small>
      }
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
      <div class="password-input">
        <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" formControlName="password"
               aria-required="true" aria-describedby="passwordError">
        <button type="button" (click)="togglePasswordVisibility()">
          {{ isPasswordVisible ? 'Ocultar' : 'Mostrar' }}
        </button>
      </div>
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <small id="passwordError" role="alert">{{ 'LOGIN.PASSWORD_ERROR' | translate }}</small>
      }
    </div>

    <!-- Error de credenciales -->
    @if (invalidCredentials) {
      <small role="alert">{{ 'LOGIN.INVALID_CREDENTIALS' | translate }}</small>
    }

    <!-- Submit Button -->
    <button type="submit" class="login-button" [disabled]="loginForm.invalid" aria-label="Login">
      {{ 'LOGIN.BUTTON' | translate }}
    </button>
  </form>
</div>