<div class="product-refund-container">
  <div class="product-refund-header">
      <h1>Protección PurChoose</h1>
      <button class="info-button" (click)="toggleInfo()">+ info</button>
  </div>

  <div class="product-refund-content">
      <div class="product-refund-item">
      <span><p>Compra sin preocupaciones mediante nuestro servicio de envíos. Transacción
      protegida con reembolso, pagos seguros y ayuda siempre que la necesites.</p></span>
      </div>
  </div>

  <!-- Modal -->
  @if (isInfoVisible) {
      <div class="modal-overlay">
          <div class="modal-content">
              <div class="modal-header">
                  <h2>Protección PurChoose</h2>
                  <button class="close-button" (click)="toggleInfo()">×</button>
              </div>
              <div class="modal-body">
                  <p>Cuando compras tu producto mediante nuestro servicio de envío, cobramos una tarifa por:</p>
                  <ul>
                      <li>✔ Proteger tu dinero hasta que compruebes que el producto está en orden.</li>
                      <li>✔ Reembolsar el importe si el producto no es como se describía. Si necesitas devolverlo, es gratis.</li>
                      <li>✔ Reembolsarte si el producto se pierde o resulta dañado durante el envío.</li>
                      <li>✔ Asistencia cuando la necesites.</li>
                  </ul>
              </div>
          </div>
      </div>
  }
</div>
