<main class="register-container">
  <h1>{{ 'REGISTER.TITLE' | translate }}</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" aria-labelledby="register-title">

    <!-- Login link outside the form -->
    <div class="login-redirect">
      <p>
        {{ 'REGISTER.DESCRIPTION' | translate }}
        <a routerLink="/login">{{ 'REGISTER.LINK' | translate }}</a>.
      </p>
    </div>

    <!-- Full Name -->
    <div class="form-group">
      <label for="name">{{ 'REGISTER.FULL_NAME' | translate }}</label>
      <input type="text" id="name" formControlName="name" aria-required="true" aria-describedby="nameError">
      @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
        <small id="nameError" role="alert">{{ 'REGISTER.FULL_NAME_ERROR' | translate }}</small>
      }
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">{{ 'REGISTER.EMAIL' | translate }}</label>
      <input type="email" id="email" formControlName="email" aria-required="true" aria-describedby="emailError">
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <small id="emailError" role="alert">
          {{ registerForm.get('email')?.errors?.['duplicate'] ? 'El correo ya está registrado' : ('REGISTER.EMAIL_ERROR' | translate) }}
        </small>
      }
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label for="phone">{{ 'REGISTER.PHONE_NUMBER' | translate }}</label>
      <div class="phone-container">
        <select id="countryCode" formControlName="prefijo" aria-label="Country Code">
          @for (code of countryCodes; track code) {
            <option [value]="code.value">{{ code.flag }} {{ code.value }}</option>
          }
        </select>
        <input type="tel" id="phone" formControlName="telefono" placeholder="{{ 'REGISTER.PHONE_PLACEHOLDER' | translate }}"
               aria-required="true" aria-describedby="phoneError">
      </div>
      @if (registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched) {
        <small id="phoneError" role="alert">{{ 'REGISTER.PHONE_ERROR' | translate }}</small>
      }
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">{{ 'REGISTER.SET_PASSWORD' | translate }}</label>
      <input type="password" id="password" formControlName="password"
             aria-required="true" aria-describedby="passwordError">
      @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
        <small id="passwordError" role="alert">{{ 'REGISTER.PASSWORD_ERROR' | translate }}</small>
      }
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label for="confirmPassword">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword"
             aria-required="true" aria-describedby="confirmPasswordError">
      @if (registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched) {
        <small id="confirmPasswordError" role="alert">{{ 'REGISTER.PASSWORD_MISMATCH' | translate }}</small>
      }
    </div>

    <!-- Terms -->
    <div class="form-group checkbox-group">
      <label class="checkbox-label">
        <input type="checkbox" id="terms" formControlName="terms" />
      </label>
      <span class="terms-text">
        {{ 'REGISTER.ACCEPT_TERMS' | translate }} <a routerLink="/terms">{{ 'REGISTER.ACCEPT_TERMS2' | translate }}</a>
      </span>
      @if (registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched) {
        <small role="alert">{{ 'REGISTER.TERMS_ERROR' | translate }}</small>
      }
    </div>

    <button type="submit" class="register-button" [disabled]="registerForm.invalid">
      {{ 'REGISTER.BUTTON' | translate }}
    </button>

      <!-- Seller register -->
  <div class="seller-callout">
    <p class="seller-text">{{ 'REGISTER.SELLER_PROMPT' | translate }}</p>
    <a routerLink="/register-seller" class="seller-button">{{ 'REGISTER.BUTTON_SELLER' | translate }}</a>
  </div>
  </form>
  <app-language-bar></app-language-bar>
</main>
