.user-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 568px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.favorite-button, .chat-button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

/* Favorite Button */
.favorite-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 16px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #eceff1;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.favorite-button:hover {
    background-color: #fc6c64;
}

/* Chat Button */
.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #007bff;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.chat-button:hover {
    background-color: #0056b3;
}

