<div class="user-bar-container">
    <div class="user-info">
        <img class="user-avatar" [src]="user?.profilePicture" alt="User avatar">
        <span class="user-name">{{ user?.name }}</span>
    </div>
    <div class="user-actions">
        <button class="favorite-button">
            <span class="favorites-button">{{ 'PRODUCT-USER-BAR.FAVORITE-BUTTON' | translate }}</span>
        </button>
        <button class="chat-button">{{ 'PRODUCT-USER-BAR.CHAT-BUTTON' | translate }}</button>
    </div>
</div>
