<app-nav-belt></app-nav-belt>
<app-nav-categories></app-nav-categories>

<div class="sell-product-container">
  <h2 class="sell-product-title">Publicar un producto</h2>

  <div class="sell-form">
    <app-product-title></app-product-title>
    <app-sell-product-category></app-sell-product-category>
    <app-product-description></app-product-description>
    <app-product-price></app-product-price>
    <app-sell-product-condition></app-sell-product-condition>
    <app-product-photo></app-product-photo>
  </div>
</div>
