* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user-products-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px 16px;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  color: #222;
  margin-left: 450px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-row {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.product-thumb {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
  background-color: #f0f0f0;
}

.product-info-block {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
}

.product-texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}

.product-title {
  font-size: 15px;
  color: #444;
  font-weight: 400;
}

.product-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centrado vertical */
  align-items: flex-end;
  font-size: 13px;
  color: #888;
  margin-left: 24px;
  height: 100%; /* asegura alineación */
}



.product-meta-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.meta-label,
.meta-value {
  font-size: 13px;
  color: #555;
}

.meta-label {
  font-weight: 600;
  margin-right: 180px; /* ajusta este número para separar menos */
}

.meta-value {
  color: #333;
  margin-right: 192px;
}

.product-actions-right {
  display: flex;
  gap: 10px;
  margin-left: 16px;
}

.icon-btn-delete {
  width: 36px;
  height: 36px;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.icon-btn-delete:hover {
  background-color: #ee8c8c;
  border: 1px solid #ee8c8c;
}

.icon-btn-edit {
  width: 36px;
  height: 36px;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.icon-btn-edit:hover {
  background-color: #eaeaea;
}

.icon-btn i {
  font-size: 16px;
  color: #555;
}

.pp{
  margin-bottom: 0px;
  margin-left: 450px;
  margin-top: 12px;
}

.meta-publicado{
  margin-right: 70px;
}

.meta-pp{
  margin-right: 64px;
}

.meta-modificado{
  margin-right: 202px;
}

.meta-pm{
  margin-right: 202px;
}

.meta-ppv{
  margin-top: -30px;
  margin-right: -7px;
  margin-bottom: 35px;
}

.meta-pmn{
  margin-top: -30px;
  margin-right: 145px;
  margin-left: -50px;
}