<app-nav-belt></app-nav-belt>
<app-nav-categories></app-nav-categories>

<div class="profile-container">
  <!-- Primer recuadro (encabezado) -->
  <div class="profile-header-container">
    <header class="profile-header">
      <div class="profile-avatar">
        <img [src]="user.fotoPerfil" alt="Foto de perfil" class="avatar">
      </div>
      <div class="profile-info">
        <h1 class="profile-name">{{ user.name }}</h1>

        <!-- Mostrar mensaje si es un invitado -->
        @if (isGuest) {
          <p class="guest-message">Estás viendo el perfil como invitado.</p>
        } @else {
          <a class="edit-profile-button" routerLink="/editarP" [routerLinkActive]="'active-button'">Editar Perfil</a>
          <button class="logout-button" (click)="cerrarSesion()">Cerrar Sesión</button>
        }
      </div>
    </header>
  </div>

  <!-- Botones de navegación -->
  <div class="profile-tabs">
    <button 
      class="tab-button" 
      [class.active]="activeTab === 'info'" 
      (click)="activeTab = 'info'"
    >
      Info
    </button>
    <button 
      class="tab-button" 
      [class.active]="activeTab === 'reseñas'" 
      (click)="activeTab = 'reseñas'"
    >
      Reseñas
    </button>
    <button 
      class="tab-button" 
      [class.active]="activeTab === 'historial'" 
      (click)="activeTab = 'historial'"
    >
      Historial
    </button>
  </div>

  <!-- Contenido dinámico -->
  <div class="profile-content-container">
    <div class="profile-content">
      @if (activeTab === 'info') {
        <!-- Pasamos el usuario actual al componente hijo -->
        <app-info-perfil [user]="user"></app-info-perfil>
      } @else if (activeTab === 'publicaciones') {
        <app-card-product></app-card-product>
      } @else if (activeTab === 'reseñas') {
        <app-resenas-perfil [reviews]="reviews"></app-resenas-perfil>
      } @else if (activeTab === 'historial') {
        <!-- Mostrar el historial -->
        <div class="historial-container">
          <h1>Mi Historial de Compras</h1>

          <!-- Mensaje si no hay registros -->
          @if (historial.length === 0) {
            <div class="no-items-message">
              No tienes ningún registro en tu historial.
            </div>
          } @else {
            <!-- Lista de registros del historial -->
            <div class="historial-grid">
              @for (item of historial; track item.id) {
                <div class="historial-item">
                  <h3>{{ item.producto.nombre }}</h3>
                  <p>Cantidad: {{ item.cantidad }}</p>
                  <p>Precio Total: {{ item.precio_total }}</p>
                  <p>Estado: {{ item.estado }}</p>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>