<div class="promo-banner">
  <div class="promo-left">
    <img src="images/Index/brazeimages.png" alt="Wallet Promo Image" class="promo-img" />
  </div>
  <div class="promo-right">
    <div class="promo-card">
      <h2 class="promo-title">{{ 'PROMO.TITLE' | translate }}<br />{{ 'PROMO.TITLE2' | translate }} <strong>{{ 'PROMO.TITLE3' | translate }}</strong></h2>
      <p class="promo-description">{{ 'PROMO.DESCRIPTION' | translate }}</p>
      <a routerLink="/inbox" class="promo-button">{{ 'PROMO.BUTTON' | translate }}</a>
    </div>
  </div>
</div>
