<div class="slider-container">
    <!-- Botón para ir atrás -->
    <button class="slider-button prev" (click)="prevSlide()">&#8249;</button>
    <div class="slider">
      <div #slider class="image-container" [style.transform]="'translateX(' + (-currentIndex * 200) + 'px)'">
        <!-- Repetir todas las imágenes -->
        @for (image of images; track image.id) {
          <img [src]="image.src" class="slider-image" />
        }
      </div>
    </div>
    <!-- Botón para ir adelante -->
    <button class="slider-button next" (click)="nextSlide()">&#8250;</button>
</div>