/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ECEFF1;
    overflow-x: hidden;
    overflow-y: auto; /* Asegura el scroll vertical */
    overflow-x: hidden; /* Evita scroll horizontal no deseado */
}
  
body.no-scroll {
    overflow: hidden !important;
    height: 100vh;
    width: 100vw;
}

/*
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ECEFF1;
    overflow-x: hidden;
}
  
body.no-scroll {
    overflow: hidden !important;
    height: 100vh;
    width: 100vw;
}
*/
