/* Parte de la izquierda de la barra de navegación con el logo */
.nav-belt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e53cc;
  padding: 15px 30px;
  color: white;
  font-family: 'Arial';
}
  
.nav-left {
  .nav-brand {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Arial';
  }
}

.nav-logo {
  width: 30%;
  height: 100%;
}

/* Parte del centro de la barra de navegación */
.nav-center {
  display: flex;
  flex: 1;
  max-width: 800px;

  .search-input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .search-button {
    background-color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    .search-icon {
      width: 24px;
      height: 24px;
      fill: #1e53cc;
    }
  }
}
  
/* Parte derecha de la barra de navegación */

/***lauguage section*/
.language-selector {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected-language {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 6px;
}

.flag-icon {
  width: 20px;
  height: 15px;
  object-fit: cover;
}

.dropdown-icon {
  font-size: 10px;
  color: #666;
}

/* Initially hide the dropdown */
.language-dropdown {
  width: 160px;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0px 0;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none;
  z-index: 1000;
}

/* Show the dropdown when the class is active */
.language-dropdown.show {
  display: block;
}

.language-dropdown li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.language-dropdown li:hover {
  color: #1e53cc;
  text-decoration: underline;
}

.language-dropdown input[type="radio"] {
  margin-right: 5px;
}


/**/
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;

  .nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    transition: text-decoration 0.3s ease;

    &:hover {
      text-decoration: underline;
    }
  }
  .nav-lang {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 800;
    transition: text-decoration 0.3s ease;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;

    .user-icon {
      width: 24px;
      height: 24px;
      fill: #1e53cc;
    }
  }
}

.admin-button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #dc3545; /* Rojo para destacar */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-button:hover {
  background-color: #bb2d3b; /* Rojo más oscuro al pasar el mouse */
}

.admin-button:focus {
  outline: 2px solid #000; /* Mejora la accesibilidad */
}