<div class="featured-product">
    <div class="text-content">
      <h2>Múltiples productos de</h2>
      <br>
      <h2>limpieza</h2>
      <br>
      <p>Selección múltiple con mucha variedad</p>
    </div>
  
    <div class="product-images">
      @for (product of products; track product.id) {
        @if (product.id <= 3) {
          <div class="product-image">
            <img [src]="product.src" [alt]="product.id">
          </div>
        }
      } @empty {
        <p>No hay productos disponibles.</p>
      }
    </div>
  </div>