<div class="register-container">
    <h1>Sign up</h1>
    <p>Create your account below. If you already have an account, you can <a routerLink="/login">Log in here</a>.</p>
  
    <form>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" name="fullName" required>
        </div>
  
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
  
        <div class="form-group">
            <label for="dob">Birth of Date</label>
            <div class="dob-container">
                <input type="date" id="dob" name="dob" required>
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <div class="phone-container">
                <select id="countryCode" name="countryCode">
                <option value="+1" selected>🇺🇸 +1</option>
                <option value="+44">🇬🇧 +44</option>
                <option value="+34">🇪🇸 +34</option>
                <option value="+91">🇮🇳 +91</option>
                </select>
                <input type="tel" id="phone" name="phone" placeholder="(123) 456-7890" required>
            </div>
        </div>
  
        <div class="form-group">
            <label for="password">Set Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
  
        <button type="submit" class="register-button">Register</button>
    </form>
</div>
  